# directories
broadcast
cache
cache_forge
coverage
node_modules
out
artifacts
typechain-types
deployments

# files
*.env
*.log
.DS_Store
.pnp.*
bun.lockb
lcov.info
package-lock.json
pnpm-lock.yaml
yarn.lock